@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-obsidian: #0e0e0e;
  --color-primary: #97a9ff;
  --color-secondary: #d873ff;
  --color-gold: #ffdd79;
}

@layer base {
  body {
    @apply bg-obsidian text-white font-sans antialiased overflow-x-hidden;
  }
}

.glass {
  @apply bg-[#262626]/40 backdrop-blur-[30px] border border-white/10;
}

.text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  @apply bg-gradient-to-br from-gold via-white to-primary;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
